.App {
  font-family: "Lato", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

body {
  background-color: rgb(248, 248, 248);
  margin: 100px 0;
  box-sizing: border-box;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgb(115, 141, 214);
}
.date {
  padding: 20px 0;
  margin: 0;
  color: #ffffff;
  font-size: 25px;
  font-weight: 500;
}
/* .title {
  padding: 20px 0;
  margin: 0;
  color: #ffffff;
  text-align: start;
} */

.navbar {
  position: absolute;
  top: 30px;
  right: 20px;
}

.navbar span {
  padding: 10px;
}

a {
  color: #ffffff;
}

a:hover {
  color: #f1d3d3;
}
.arrows button {
  background-color: rgb(115, 141, 214);
  font-size: 24px;
  padding: 10px;
  position: fixed;
  border: none;
  color: white;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
}

.arrows button:nth-child(1) {
  left: 0;
}

.arrows button:nth-child(2) {
  right: 0;
}

.area-list {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 0 0 20px 20px;
}
.areas {
  display: flex;

  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.areas .Physical,
.areas .Professional,
.areas .Mental,
.areas .Social,
.areas .Intellectual,
.areas .Creative {
  margin: 10px;
  border: 1px solid #ddd;
  min-width: 200px;
  width: 250px;
  height: fit-content;
  border-radius: 22px;
}

.Physical {
  background-color: #684397;
}
.Professional {
  background-color: #384e75;
}
.Mental {
  background-color: #204e23;
}
.Intellectual {
  background-color: #ffc400;
}
.Creative {
  background-color: #d36451;
}
.Social {
  background-color: #e782bd;
}

.Subcategory {
  display: flex;
  flex-direction: column;
  text-wrap: wrap;
  padding: 0 10px;
}

.subCategory-name {
  margin: 0;
  font-size: small;
  text-align: start;
  color: rgb(99, 99, 99);
  padding: 5px;
}

.area-name {
  color: white;
  margin: 10px;
}
.checklist {
  text-align: start;
  text-wrap: wrap;
}

input[type="checkbox"] {
  width: 15px;
  height: 15px;
  accent-color: #3aa13a;
  cursor: pointer;
  border: 2px solid #ccc;
  border-radius: 4px;
}

input[type="checkbox"]:checked {
  border-color: #3aa13a;
  background-color: #3aa13a;
}

.checklist .task label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.checklist .task label span {
  padding: 5px 0;

  color: #333;
}

.task {
  margin: 5px 0;
}

.done-today {
  margin: 0 auto;
  padding: 20px;
  margin-top: 30px;

  width: 1000px;
}

.done-area {
  margin: 10px 0;
}

.done-tasks {
  list-style: none;
  padding: 0;
}

.done-tasks li {
  display: flex;
  flex-direction: column;
  align-items: start;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  position: relative;
  background-color: white;
}
.done-areas {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.done-task {
  font-size: 20px;
  padding: 10px;
}

.tooltip {
  position: relative;

  cursor: pointer;
}

.tooltip-text {
  visibility: hidden;
  width: 150px;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  border-radius: 5px;
  position: absolute;
  bottom: 125%;
  left: 80%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  z-index: 10;
}

.tooltip .tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
  background-color: #333;
  color: #fff;
  visibility: visible;
  opacity: 1;
}

.done-areas .Physical,
.done-areas .Professional,
.done-areas .Mental,
.done-areas .Social,
.done-areas .Intellectual,
.done-areas .Creative {
  padding: 20px;
}

.note {
  display: block;
  border-radius: 5px;
  width: 450px;
  border: none;
  background-color: #ffffff4b;
  margin: 10px 0;
  margin-left: 10px;
}

.save {
  width: 80px;
  background-color: #ffffff;
  border-radius: 5px;
  margin-left: 380px;
}

.delete {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
}
.calendars {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 30px;

  padding: 100px;
}

.calendar {
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);

  margin: 10px;
}

.calendar-day {
  padding: 10px;
  border: 1px solid #ddd;
  cursor: pointer;
}

.calendar-day.completed {
  background-color: green;
  color: white;
  font-weight: bold;
}
